@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&family=Roboto+Condensed:wght@700&family=Source+Sans+Pro&display=swap');


.layout{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    height: 100%;
}



.row-one{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.item-brand{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    color: #1d1f22;
}

.item-name{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    color: #1d1f22;
}

.item-price{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #1d1f22;
}

.bold{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #1d1f22;
    margin-top: 9px;
}

.attributes{
    display: flex;
    gap: 6px;
}

.size-box{
    display: flex;
    align-items: center;
    gap: 6px
}
.size-box span{
    margin-top: 6px;
    border: 1px solid #1d1f22;
    width: 63px;
    height: 45px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-box{
    display: flex;
    align-items: center;
    margin-top: 6px;
    gap: 6px;
}
.color-box p{
    margin: 8px 0;
}
.color-box span{
    width: 32px;
    height: 32px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08);
}

.row-two{
    display: flex;
    gap: 12px;
}

.action-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.action-buttons button{
    width: 38px;
    height: 38px;
    border: 1px solid #1d1f22;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-color{
    border: 2px solid #5ece7b;
}
.selected-size{
    color: #fff;
    background-color: #1d1f22;
}