.container{
    padding: 0 48px;
    max-width: 1440px;
    margin: 0 auto;
}

.category{
    font-weight: 600;
    text-transform: uppercase;
}

/* .productsRow{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    row-gap: 49px;
} */

.category-list{
    display: flex;
    flex-direction: column;
    padding-left: 27px;
    list-style: square;
    gap: 12px;
}

.category-list li{
    font-size: 27px;
}

.category-list li a{
    text-transform: uppercase;
}

.category-lsit li:hover{
    text-decoration: underline;
}