@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');


.container{
    padding: 0 55px;
    max-width: 1440px;
    margin: 0 auto;
}

.category{
    margin: 80px 58px 103px;
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: 400;
    line-height: 160%;
    text-transform: uppercase;
}


.category-list{
    display: flex;
    flex-direction: column;
    padding-left: 27px;
    list-style: square;
    gap: 12px;
}

.category-list li{
    font-size: 27px;
}

.category-list li a{
    text-transform: uppercase;
}

.category-lsit li:hover{
    text-decoration: underline;
}

.plpProductsRow-div-content{
    display: flex;
    justify-content: center;
}
