@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&family=Roboto:wght@700&display=swap');


.stickyNavbar{
    position: sticky;
    top: 0;
    max-width: 1440px;
    height: 80px;
    z-index: 1000;
    background-color: #fff;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1330px;
    height: 75px;
}

.navlinks{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navlinks li a{
    padding: 0 13px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #1d1f22;
}
.navlinks li a:hover{
    color: #5ece7b;
}

.activeLink{
    border-bottom: 2px solid #5ece7b;
    color: #5ece7b !important;
}

.navbar .siteLogoContainer img{
    width: 35px;
}


.currencyMenuAndCart{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
}

.currencyMenu{
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-right: 20px;
}
.currencyMenu button{
    padding: 4px 16px;
}

.currencyMenu button .currencySign{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 160%;
    font-weight: 500;
    color: #1d1f22;
}

.currencyMenu img{
    position: absolute;
    top: 53.75%;
    left: 76.47%;
}

p{
    margin: 0;
}


.cart{
    position: relative;
}

.cartItemsNumber{
    position: absolute;
    top: -29.75%;
    left: 60.5%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: #fff;
    background-color: #1d1f22;
    border-radius: 60px;
}

.miniCart{
    position: fixed;
    top: 11.2%;
    right: 5%;
    background-color: #fff;
    min-width: 340px;
    max-height: 480px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 999;
}
.miniCart::-webkit-scrollbar{
    display: none;
}

.emptyCart{
    font-size: 30px;
    font-weight: 400;
    padding: 16px 0;
    text-align: center;
}

.buttonActions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px 0;
    padding: 0 12px;
    gap: 12px;
}

.buttonActions button:nth-child(1){
    width: 160px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
    padding: 13px 32px;
    color: #1d1f22;
    border: 1px solid #1d1f22;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 120%;
    outline: none;
    text-transform: uppercase;
}

.buttonActions button:nth-child(2){
    margin: 12px 0;
    padding: 14px 32px;
    width: 160px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    background-color: #5dcb7a;
    border: none;
    outline: none;
}

.bag{
    margin: 25px 0;
    padding: 0 25px;
}

.bag .bold{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    color: #1d1f22;
}

.total{
    display: flex;
    justify-content: space-between;
}
.total p:nth-child(1){
    padding: 0 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}
.total p:nth-child(2){
    padding: 0 25px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
}