@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.productSkeleton{
  position: relative;
  max-width: fit-content;
}

.cartIcon-button{
  position: absolute;
  bottom: 18%;
  left: 75%;
  padding: 6px 8px;
  background-color: #5ece7b;
  color: #fff;
  border-radius: 50%;
  transform: translate(50%, 0);
  opacity: 0;
  z-index: 111;
}

.cartIcon-button:disabled{
  opacity: 0;
}

.productSkeleton:hover .cartIcon-button{
  opacity: 1;
}

.attributes {
  display: flex;
  gap: 6px;
}

.color-box {
  display: flex;
  align-items: center;
  margin-top: 6px;
  gap: 6px;
}

.color-box button {
  height: 32px;
  width: 32px;
  padding: 4px 9px;
  border: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.07);
}

.color-box button:hover {
  border: 1px solid #5ece7b;
}

.color-box p {
  margin: 8px 0;
}

.selected-color {
  outline: 1px solid #5ece7b;
  outline-offset: 1px;
}

.size-box {
  display: flex;
  align-items: center;
  gap: 6px;
}

.size-box button {
  border: 1px solid #1d1f22;
  padding: 6px 12px;
  margin-top: 6px;
}

.size-box button:hover {
  background-color: #1d1f22;
  color: #fff;
}

.selected-size {
  background-color: #1d1f22;
  color: #fff;
}

.out-of-stock {
  position: absolute;
  left: 25.42%;
  right: 25.71%;
  top: 44.24%;
  bottom: 43.94%;
  color: #8d8f9a;
  display: flex;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
  line-height: 160%;
  font-weight: 400;
  padding: 12px;
  z-index: 10;
  text-transform: uppercase;
}

.opacity {
  opacity: 0.5;
}

.image-box img {
  width: 300px;
  height: 280px;
  object-fit: contain;
}

.price__out-of-stock{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
  color: #8d8f9a;
}

.price {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
  color: #1d1f22;
}

.product-name__out-of-stock{
  margin: 24px 0 0 0;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 160%;
  color: #8d8f9a;
}

.product-name {
  margin: 24px 0 0 0;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 160%;
  color: #1d1f22;
}

a {
  text-decoration: none;
  color: #000;
}


.addToCart-button {
  padding: 16px 32px;
  width: 200px;
  height: 43px;
  color: #fff;
  text-transform: uppercase;
  margin: 12px 0;
  background: #5ece7b;
}

button:disabled {
  background: #c4dfcb;
}